@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Inter:wght@400;700;800&display=swap');
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --Gray: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
  --font-size: 16px;

}

html {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
}
.container{
margin:3.5rem auto;
  max-width:1240px;
  padding:0rem 1rem;
font-family: 'Inter', sans-serif;
}
.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
ul.nav-items{
  display: flex;
}
ul.nav-items li{
  margin-right: 20px;
  list-style-type: none;
}
 a{
  text-decoration: none;
   color:var(--Dark-grayish-blue);
   font-size:18px;
   font-weight: 600;
}
.hamburger {
    display: none;
}
.close {
    display: none;
}
.grid-container{
  display:grid;
  grid-template-columns: repeat(3,1fr);
 gap:1.3rem;
}

.image-grid{
    grid-area:1/1/2/3;
  background-image: url('https://i.postimg.cc/wx4JSVhX/image-web-3-desktop.jpg');
background-size: cover;
  background-position: center;
  height:50vh;
}
.sidebar{
  grid-area:1/3/3/4;
  background-color:var(--Very-dark-blue) ;
}
.sidebar{
  display:flex;
  flex-direction: column;
 padding:26px;
}
.heading h1{
  color: var(--soft-orange);
  font-size: 35px;
}

#name {
  border-bottom: 1px solid hsl(236, 13%, 42%);
  padding:20px 0px 20px 0px;
}
.text-section-news h2{
  color:white;
  font-size: 22px;
  font-weight: 700; 
  cursor:pointer
}
h2:hover{
  color: var(--soft-orange);
}
p{
  color:var(--Gray);
  font-weight: 400;
}
.right-heading{
  grid-area: 2/1/3/2;
}
span{
    font-size: 4rem;
  color:var(--Very-dark-blue);
  font-weight:800;
}
.left-text{
  grid-area: 2/2/3/3;
}
.left-text p{
color:var(--Dark-grayish-blue);
  font-weight: 400;
  line-height: 1.6rem;
}
button.read-more{
  margin-top: 42px;
  font-size: 18px;
  padding:12px 40px;
  background-color: var(--soft-red);
  color:white;
  border: transparent;
  cursor: pointer;
}
button:hover{
  background-color:var(--Very-dark-blue); 
}
.section{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:20px 0px;
  padding-bottom: 20px;
}
.trending-section-PC{
  display: flex;
  grid-column: 1/2;
}
div#laptop {
  grid-column:2/3;
  margin-left: 10px;
}
div#gaming {
  grid-column:3/4;
  margin-left: 12px;
}
.trending-section-PC img{
  height:160px;
  width:160px;
  margin-right: 15px;
}
.trending-section-PC p{
  color:var(--Dark-grayish-blue);
  font-weight: 400;
}

h3{
  font-size:25px;
  font-weight: 800;
  color:var(--Gray);
}
@media screen and (min-width:768px) and (max-width:1024px){
  .section{
    display: block;
    margin:30px 0px;
  }
  .trending-section-PC {
    margin: 30px 0px;
}
div#laptop{
  margin-left:0;
}
  div#gaming{
   margin-left:0;
  }
  span {
    font-size: 3.8rem;
    color: var(--Very-dark-blue);
    font-weight: 800;
}
}
@media screen and (min-width:320px) and (max-width:767px) {
  
 .hamburger {
    left: 114px;
    position: relative;
   display: block;
}

  .close {
     display: none;
    position: relative;
    left: 114px;
  }
  .show{
    display: block;
  }
  .nav{
       display: none;
  }
 ul.nav-items{
    display: flex;
    flex-direction: column;
    background-color: #2f2f2f;
    height: 100vh;
   width:400px;
    top: 75px;
    right: -100px;
    position: fixed;
   transition: all 4s ease;
}
  ul.nav-items li{
    margin:40px 5px;
  }
  a{
    font-size: 25px;
    color:white;
  }

  .grid-container {
    grid-template-columns: 460px !important;
  }
  .image-grid {
     grid-area: unset;
  
}
    
.left-text {
    grid-row: 3/4;
    grid-column: 1/2;
}
  .right-heading {
    order: 2;
    grid-row: 2/3;
}
  .sidebar {
    grid-row: 4/5;
    grid-column: 1/2;
    margin-top: 45px;
}
  .left-text p{
    font-size: 20px;
  }
  button.read-more {
    padding: 18px 50px;
    font-size: 20px;
}
.trending-section-PC img {
    height: 250px;
    width: 250px;
    margin: 10px 0px 10px 15px;
}
    .section {
    grid-template-columns: 500px;
    grid-template-rows: 1fr 1fr 1fr;
      margin-left: -11px;
}
  .trending-section-PC {
    grid-area: 1/1/2/2;
  }
  div#laptop {
    grid-area: 2/1/3/2;
     margin-left: 0px; 
}
  div#gaming {
    grid-area: 3/1/4/2;
       margin-left: 0px; 
}
  .text-section {
    padding-left: 25px;
}
  h3{
    font-size: 36px;
  }
  h4 {
    font-size: 23px;
}
  p{
    font-size:18px ;
  }
  
}